/COSC 470 - Assignment 1/nbproject/private/
/COSC 470 - Assignment 1/build/
/COSC 470 - Assignment 1/dist/
/COSC 470 Assignment 2/nbproject/private/
/COSC 470 Assignment 2/build/
/COSC 470 - Assignment 3/nbproject/private/
/COSC 470 - Assignment 3/build/
/COSC 470 Assignment 2/dist/